[Unit]
Description=Run backup script every 24 hours

[Timer]
# Run every 24 hours
OnUnitActiveSec=24h
Unit=backup.service

[Install]
WantedBy=multi-user.target
